/* Enter your custom styles here */


.mySaveButton>span   {
     background-color: #78853c !important;  border-radius: 0rem !important;
}
.mySaveButton{
    border-radius: 0% !important; 
}

.mySaveButton2>span{
    background-color: #c89211 !important; border-radius: 0rem !important;
}


.customTable .sapMTableTH{
    background-color: darkgray !important;
}

.mySaveButton3>span{
    background-color:  #78853c !important; border-radius: 0rem !important;
}